.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 160px;
}

.featureImg {
  height: 160px;
  width: 160px;
}

.featureLink {
  text-decoration: none;
  color: black;
  display: block;
}

.featureLink:link {
  text-decoration: none;
}


.featureLink:visited {
  text-decoration: none;
}


.featureLink:hover {
  text-decoration: none;
}


.featureLink:active {
  text-decoration: none;
}